body {
  background-image: linear-gradient(to right, #1c1e1d59, #36c34448),
    url("../pictures/background-login.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.login {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #c5c5c5
  ); /* Aquí defines los colores y la dirección del degradado */
}

.navbar-custom {
  background-color: #5eb319; /* Color verde */
}

#btnLogin {
  background-color: #5eb319;
}
#btnLogin:hover {
  color: #000000;
  background-color: #4c8f16;
}

